Flask>=2.0.1
dask>=2021.5.1
distributed @ git+https://github.com/dask/distributed
redis>=3.5.3
pydantic>=1.8.2
dill
requests
dask_kubernetes
jupyter
blosc

# Current required to enable client-side plot rendering.
IPython

gillespy2 @ git+https://github.com/StochSS/GillesPy2@develop
